/* stylesheet for solanska.eu, M. Solanská 2013 */
body {
  padding-top: 20px;
  background-color: #fffafa;
  padding-bottom: 0px;
}
  
h5 {
  text-decoration: underline ;
}

sup {
  font-size : 60%;
}

ul{
  list-style-type: disc;
}
  
.dl-horizontal dt {
    width:200px;
}

.text-sedy {
  color: #999999;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.kapitalky {
  font-size: 14px;
  font-weight: bold;
  font-variant: small-caps;
  color: #800000 ; 
  margin-right: 10px;
}

.no-disc{
  list-style-type: none;
}

.jumbotron {
  color: #ffffff;
  background: #dc143c; /* Old browsers */
  background: -webkit-radial-gradient(circle,  #dc143c 0%,#800000 100%); /* Chrome10+,Safari5.1+ */
  background:      -o-radial-gradient(circle, #dc143c 0%, #800000 100%); /* Opera 12+ */
  background:         radial-gradient(circle, #dc143c 0%,#800000 100%); /* W3C */  /* Firefox 3.6+ */
  background:    -moz-radial-gradient(circle,	#dc143c 0%, #800000 100%);
}

.jumbotron a {
  color: #fff;
  text-decoration: none;
}


/* ---------------------------- horní lišta */

  #tel span {
    -webkit-transition: all 0s;  /* Saf3.2+, Chrome */
    -moz-transition: all 0s;  /* FF4+ */
    -ms-transition: all 0s;  /* IE10 */
    -o-transition: all 0s;  /* Opera 10.5+ */
    transition: all 0s;
    background-color: inherit;
    color: inherit;
  }

  #tel span:hover,
  #tel span:focus,
  #tel span:active {
    color: #fff ;
  }



/* ---------------------------- služby */
  #sluzby {
    margin-bottom: 60px;
    padding-top:40px;
  }

  .transition-example div {
    -webkit-transition: all 1s;  /* Saf3.2+, Chrome */
    -moz-transition: all 1s;  /* FF4+ */
    -ms-transition: all 1s;  /* IE10 */
    -o-transition: all 1s;  /* Opera 10.5+ */
    transition: all 1s;
    background-color: #fffafa;
    color: inherit;
    padding: 5px;
  }

  .transition-example div:hover,
  .transition-example div:focus,
  .transition-example div:active {
    color: #800000 ;
  }

/* ---------------------------- reference */
  #reference {
    margin-bottom: 140px;
    padding-top:40px;
  }

  #citace {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #reference a {
    text-decoration:none;
    color: #333333; 
  } 

  #reference .kapitalky a {
    color: #800000; 
    text-decoration:none;
  }

/* ---------------------------- footer */
  footer {
    background-color: #222222;
    border-color: #080808;
    color: #999999;
    font-size: 14px;
  }

  .modal-footer {
    text-align: left;
    margin: 0px;
    }

  footer address {
    font-size: 16px;
    padding-top: 20px;
  }

  footer > .container-kontakt {
    padding-left:0px;
    padding-right:0px;
  }

  #kontakt {
    padding-top:40px;
  }

  #kontakt_nas h4 {
    color:  #dc143c ; 
  }
  .btn-info {
    background-color:  #dc143c ; 
    border-color:  #dc143c;
  }
  .btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover {
    background-color: #cd5d6c; 
    border-color: #cd5d6d
  }
  
  #kontakt .kapitalky {
    color:  #dc143c ; 
    font-size: 14px;
  }

  #kontakt .dl-horizontal dt {
    width:100px;
  }
  
  #kontakt .dl-horizontal dd {
    margin-left:80px;
  }

  #map-canvas {
    height:239px; 
    width:263px;
    border-color: #cd5d6c;
    border-width: 2px;
  }

  label {
    font-weight: normal;
  }
  .form-control {
    padding: 3px 6px;
  }
  .form-group {
    margin-bottom: 9px;
  }

  #kontakt_nas {
    font-size: 14px;
  }
/* ---------------------------- paticka */
  #paticka {
    margin-top: 20px;
  }

  #paticka a {
    color: #999999;
    text-decoration:none;
  }

  #paticka a:hover {
    color: #fff;
  }
