/* stylesheet for solanska.eu, M. Solanská 2013 */
body {
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 0px;
  color: #000;
}
  
img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

h3 {
  font-size: 26px;
  color: #990000;
}

h4 {
  font-size: 20px;
}

h5 {
  text-decoration: underline ;
}

sup {
  font-size : 60%;
}

ul{
  list-style-type: disc;
}

table {
  width:100%;
}

table td:first-child {
  text-align: right;
  white-space: nowrap;
  padding-right: 10px;
}

.text-sedy {
  color: #999999;
}

.text-bordova {
  color: #990000;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.kapitalky {
  font-variant: small-caps;
  }

.no-disc{
  list-style-type: none;
}

#url {display: none;}

/* 1 sekce ---------------------------- 1 sekce -- jumbotron */
  .jumbotron h1 {
    font-size: 54px;
  }

  .jumbotron h2 {
    font-size: 28px;
  }

  .jumbotron p {
    font-size: 19px;
  }

  .jumbotron {
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 0px;
    color: #f5f5f5;
    background: #990000; /* Old browsers */
    background: -webkit-radial-gradient(circle,  #cc3333 0%,#A60000 100%); /* Chrome10+,Safari5.1+ */
    background:      -o-radial-gradient(circle, #cc3333 0%, #990000 100%); /* Opera 12+ */
    background:         radial-gradient(circle, #cc3333 0%,#990000 100%); /* W3C */  /* Firefox 3.6+ */
    background:    -moz-radial-gradient(circle,	#cc3333 0%, #990000 100%);
  }

  .jumbotron a {
    color: #f5f5f5;
    text-decoration: none;
  }

/* 2 sekce ---------------------------- 2 sekce -- zaměstnankyně EU */
  #zamest {
  margin-top: 20px;
  margin-bottom: 20px;
  }

/* ---------------------------- horní lišta změna barvy telefon */
  #tel span {
    -webkit-transition: all 0s;  /* Saf3.2+, Chrome */
    -moz-transition: all 0s;  /* FF4+ */
    -ms-transition: all 0s;  /* IE10 */
    -o-transition: all 0s;  /* Opera 10.5+ */
    transition: all 0s;
    background-color: inherit;
    color: inherit;
  }

  #tel span:hover,
  #tel span:focus,
  #tel span:active {
    color: #fff ;
  }

/* 3 sekce ---------------------------- 3 sekce -- služby */

  .pozadi_reference {
    color: inherit;
    background-color: #d1a9a9;
  }

  #sluzby {
    margin-bottom: 0px;
    padding-top:0px;
  }

  #sluzby h4 {
    font-size:22px;
    color: #990000
  }

  

/* ---------------------------- reference */
  #reference {
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top:0px;
  }

  #citace {
   /* margin-left: 120px;
    margin-right: 120px;*/
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #reference a {
    text-decoration:none;
    color: #000000; 
  } 

  #reference .kapitalky {
    font-size: 15px ;
    font-weight: bold;
    margin-left: 10px;
    color: #990000;
  }

  #reference .kapitalky a {
    color: #990000; 
    text-decoration:none;
  }

/* ---------------------------- footer */
  footer {
    background-color: #222222;
    border-color: #080808;
    color: #999999;
    font-size: 14px;
  }

  label {
    font-size: 16px;
  }
  .modal-footer {
    text-align: left;
    margin: 0px;
    }

  #address {
    font-size: 16px;
    padding-top: 0px;
  }


  footer > .container-kontakt {
    padding-top: 20px;
    padding-left:0px;
    padding-right:0px;
  }
  .modal-footer {
    border-top: 0px solid #E5E5E5;
  }
  #kontakt {
    padding-top:0px;
    padding-bottom:0px;
  }

  #kontakt h4 {
    color:  #bf3030; 
    font-size:22px;
  }

  #kontakt .kapitalky {
    color:  #bf3030; 
  }
  .btn-info {
    background-color:  #bf3030; 
    border-color:  #bf3030;
  }
  .btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover {
    background-color: #ff7373; 
    border-color: #ff7373;
  }
  
  .btn-default {
    background-color: #222222;
    border-color: #222222;
  }
  .btn-default.active, .btn-default:active, .btn-default:focus, .btn-default:hover {
    background-color: #696969;
    border-color: #222222;
    color: #ffffff;
  }

  #kontakt .dl-horizontal dt {
    width:30%;
  }
  
  #kontakt .dl-horizontal dd {
    margin-left:32%;
    font-size: 17px;
  }

  #map-canvas {
    height:210px; 
    width:100%;
    border-color: #cd5d6c;
    border-width: 2px;
    position: relative;
    left: -20px;
  }
  footer #kdemenajdete{
    position: relative;
    left: -20px;
  }

  label {
    font-weight: normal;
  }
  .form-control {
    padding: 3px 6px;
  }
  .form-group {
    margin-bottom: 9px;
  }

  #kontakt_nas {
    font-size: 14px;
  }
/* ---------------------------- paticka */
  #paticka {
    margin-top: 20px;
  }

  #paticka a {
    color: #999999;
    text-decoration:none;
  }

  #paticka a:hover {
    color: #fff;
  }
